.LineEffect::after{
    content: " ";
    margin-top:5px ;
    
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: rgb(41, 104, 220);
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s;
}

.LineEffect:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.slide-in{
    animation: slide 1.5s ease-in-out;
}

@keyframes slide {
    0%{
        top: -100px;
    }
    60%{
        top: 10px;
    }
    80%{
        top: -8px;
    }
    100%{
        top: 0px;
    }
    
}