

.anime2 {
    animation: appear2 0.6s linear forwards; 
}

@keyframes appear2 {
    from {
        opacity: 0; 
        transform: translateY(100px); 
    }
    to {
        opacity: 1; 
        transform: translate3(0, 0, 0);
    }
}


.progress-bar{
    animation: moving 1s linear forwards;
}

@keyframes moving {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
.progress-bar{
    animation: moving 1s linear forwards;
}

@keyframes moving {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}
.progress-bar2{
    animation: moving2 1s linear forwards;
}

@keyframes moving2 {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
    
}
.progress-bar3{
    animation: moving3 1s linear forwards;
}

@keyframes moving3 {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
    
}
.progress-bar4{
    animation: moving4 1s linear forwards;
}

@keyframes moving4 {
    0%{
        width: 0%;
    }
    100%{
        width: 20%;
    }
    
}



/* <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"/>
</svg> */
